@media (max-width: 1300px) {
    section.image-container {
        display: none;
    }
    section.login-container {
        width: 100vw;
    }
}
@media (max-width: 650px) {
    .flex-form {
        background: transparent;
        padding: 0;
        min-width: 300px;
    }
    .login-container {
        padding: 20px;
        align-items: flex-start;
    }
    .logo-box {
        left: 20px;
        width: 115px;
    }
}