:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;

  /* LAYOUT */

  --gap-container-space: 4.0rem 7.4rem;
  --gap-form-space: 5.5rem 11.9rem;
}
